#root {
  width: 300px;
  margin: 0 auto;
}

.image {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 169px;
  margin-bottom: 32px;
  background-image: url("../public/small-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.image.loaded {
  background: none;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
