#root {
  overflow: scroll;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.slide {
  display: flex;
}

.image {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 169px;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes slideWave {
  0%,
  100% {
    transform: scale(1); /* 원래 크기 */
  }
  50% {
    transform: scale(1.2); /* 중앙에서는 1.2배로 확대 */
  }
}

.image {
  animation: slideWave 10s linear infinite; /* 반복되는 꿀렁임 효과 */
}
